<section class="full-screen">
  <div class="container">
    <div>
      <div class="row text-padding">
        <div class="col-12 col-md-4 align-self-center">
          <div class="p-3">
            <h2 class="text-primary subhead">contact us</h2>
            <p>If you have any questions please contact us via this form.&nbsp; We look forward to hearing from you.</p>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="p-3">
            <form method="post">
              <div class="mb-3"><input class="form-control" type="text" id="name-2" name="name" placeholder="Name">
              </div>
              <div class="mb-3"><input class="form-control" type="email" id="email-2" name="email" placeholder="Email">
              </div>
              <div class="mb-3"><textarea class="form-control" id="message-2" name="message" rows="6"
                  placeholder="Message"></textarea></div>
              <div><button class="btn btn-primary d-block w-100" type="submit">Send </button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End: Contact -->